
body{
    text-align: center;
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.header{
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 16px;
    justify-content: space-between;
}

.header img{
    width: 50px;
    height: auto;
}

.title{
    display: flex;
    font-weight: bold;
}

.hero{

}

